<div class="realisation-grid">
    <div class="realisation-card" *ngFor="let r of realisations">
        <div class="realisation-image">
            <img [src]="'/assets/'+r.nomImage">
        </div>
        <div class="realisation-info">
            <h3>{{ r.titre }}</h3>
            <p>{{ r.objectif | slice:0:100 }}...</p>
            <button mat-raised-button color="primary" [routerLink]="['/realisation', r.id]">
                Voir la réalisation
            </button>
        </div>
    </div>
</div>
