<div class="presentation-container">
    
    <mat-card>
        <mat-card-title><strong>Présentation générale</strong></mat-card-title>
        <mat-card-content>
            <p>Toujours optimiste dans mon travail, je recherche constamment les meilleures méthodes pour améliorer mon efficacité et parvenir à mes fins. Possédant une grande ambition, j’aime intégrer des projets de plus en plus complexes afin de mieux comprendre mon métier et les différents problèmes que je rencontre. Enfin je suis très attentif aux divers conseils que les personnes plus expérimentées peuvent me prodiguer dans le but de bonifier la qualité de mon travail.</p>

                <p>Ce qui m’attire le plus dans l’informatique, c’est le fait de pouvoir m’amuser avec les différentes fonctions et méthodes pour en sortir des systèmes complexes et de pouvoir créer des sites ou des logiciels divers et variés qui seront utiles pour ses utilisateurs. J’aime aussi être mis au défi sur des situations demandant un esprit logique et une réflexion mathématique que j’essaie constamment de parfaire.
                </p>
        </mat-card-content>
    </mat-card>
  
    <mat-card>
        <mat-card-title><strong>Mes qualités humaines</strong></mat-card-title>
        <mat-card-content>
            <p>Mes principales qualités humaines sont l’altruisme, la persévérance et la pédagogie.</p>
            <p>A l’instar de l’intérêt que j’ai eu pour mes études, j’aime partager mon savoir et mes connaissances avec autrui afin d’enrichir leurs méthodes de travail et leur permettre d’éviter de reproduire les erreurs que j’ai pu faire.</p>
            <p>Ce qui me permet de parler de mon altruisme, aussi bien que le partage de mes connaissances, est que j’aime aller apporter mon soutien à mes collègues lors de problèmes rencontrés. Il n’est jamais agréable de se retrouver bloqué sur un problème. Ainsi avoir l’écoute d’une personne prête à aider en cas de difficulté est aussi un point important pour moi lors de la réalisation de projet en informatique. Avoir une équipe autour de soi permet vraiment de se dépasser mutuellement et de surmonter des obstacles qu’on ne pourrait franchir tout seul.</p>
            <p>C’est aussi avec mon côté persévérant que je peux me permettre de venir en aide aux autres. Cette partie de moi me donne l’occasion de passer outre les difficultés et de toujours réussir à avancer.</p>
        </mat-card-content>
    </mat-card>
  
    <mat-card>
        <mat-card-title><strong>Mes valeurs</strong></mat-card-title>
        <mat-card-content>
            <p>Que ce soit au quotidien comme dans mon environnement de travail, je prône très régulièrement l’entraide et l’enthousiasme.</p>
            <p>Comme dit plusieurs fois, l’entraide est très importante à mon sens. J’essaye toujours de maintenir une ambiance agréable au sein de mon équipe pour faciliter sa mise en place. Celle-ci m’a permis à maintes reprises de pouvoir tout d’abord me débloquer rapidement sur des obstacles et respecter les délais de livraison des différents projets. Cela m’a apporté des visions et des réflexions différentes qui m’aideront dans le futur.</p>
            <p>J’essaye aussi de toujours voir le positif et d’entreprendre les différents projets avec beaucoup d’enthousiasme. Cet état d’esprit est tout aussi important que l’entraide à mes yeux, si cette dernière permet d’avancer ensemble rapidement sur les projets, l’enthousiasme permet d’aborder les choses plus facilement et de moins se décourager et ainsi maintenir une efficacité certaine.</p>
        </mat-card-content>
    </mat-card>
  
    <mat-card>
        <mat-card-title><strong>Mes centres d'intérêts</strong></mat-card-title>
        <mat-card-content>
            <p>Pour commencer simplement, ma première passion concerne mon métier. Le fait de pouvoir créer en passant par des lignes de commande et des logiques mathématiques me fascine. Si par la suite ce que j’ai créé est utile à quelqu’un, alors ça me réjouit d’autant plus.</p>
            <p>Ça fait aussi maintenant plus de dix ans que je joue à un jeu de cartes à collectionner (TCG : Trading Card Game) du nom de « Magic : The Gathering ». Cette passion me permet d’améliorer ma prise de décision rapide ainsi que ma réflexion. Au sein de ce jeu de cartes, il y a plusieurs étapes qui poussent nos choix, nos cheminements de pensées mais aussi nos réflexions toujours plus loin que ce soit pendant que l’on joue comme les préparations de notre jeu. Une liaison se fait entre cette passion et mon travail via l’esprit logique nécessaire, pour mettre en place des fonctionnalités dans mon application comme faire les bons choix lors d’une des parties du jeu de cartes. Il faut savoir réussir à comprendre et à faire des liaisons entre plusieurs facteurs pour arriver à ses fins.</p>
            <p>Enfin je me passionne beaucoup pour les diverses mythologies que ce soit celles de notre monde, comme celles de monde fictif. Comprendre comment elles ont été créées, comment elles ont été partagées ou encore l’influence que celles-ci ont pu avoir sur les différentes civilisations je trouve ça fascinant.</p>
            <p>Mes deux passions ne concernant pas le développement me permettent de maintenir un équilibre entre vie professionnelle et personnelle bien qu’une passion me permette en partie d’améliorer mon quotidien dans mon travail.</p>
        </mat-card-content>
    </mat-card>
  
    <mat-card>
        <mat-card-title><strong>Projets professionnels et personnels</strong></mat-card-title>
        <mat-card-content>
            <p>Concernant mes projets professionnels, j’aimerai tout d’abord atteindre le rôle d’architecte. Je trouve ce poste très intéressant et j’aimerai atteindre des positions avec plus de responsabilités afin de me mettre une légère pression qui m’aidera à avancer de la bonne manière. Par la suite j’aimerai finir par me mettre à mon compte pour avoir mon mot à dire sur les projets sur lesquels je travaillerai et pouvoir me concentrer sur ce qui m’intéresse vraiment. Au cours des futures années, je souhaiterai me spécialiser dans un langage de programmation en particulier afin de pouvoir prétendre l’enseigner à d’autres personnes souhaitant découvrir ou s’améliorer dans ce dernier.</p>
            <p>Finalement, mes projets personnels consisteront en l’amélioration de mon niveau dans le jeu de cartes que je pratique au quotidien afin d’essayer d’atteindre le niveau d’un joueur professionnel mais aussi d’accumuler suffisamment d’informations concernant les différentes mythologies pour pouvoir créer ma propre mythologie et mon propre univers qui en découlera.</p>
        </mat-card-content>
    </mat-card>
</div>