<div class="container">
    <h1>{{ competence.titre }}</h1>
  
    <mat-card class="custom-card">
      <mat-card-title>Définition</mat-card-title>
      <mat-card-content>
        <p [innerHTML]="competence.definition"></p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card">
      <mat-card-title>Élément de preuve</mat-card-title>
      <mat-card-content>
        <p [innerHTML]="competence.elementDePreuve"></p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card">
      <mat-card-title>Autocritique</mat-card-title>
      <mat-card-content>
        <p [innerHTML]="competence.autocritique"></p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card">
      <mat-card-title>Futur évolution</mat-card-title>
      <mat-card-content>
        <p [innerHTML]="competence.evolution"></p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card" *ngIf="competence.liensVersRealisations.length">
      <mat-card-title>Réalisations liées</mat-card-title>
      <mat-card-content>
        <div class="liens">
          <a
            *ngFor="let id of competence.liensVersRealisations"
            [routerLink]="['/realisation', id]"
            class="btn-liens"
          >
            Voir {{ id | titlecase }}
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card" *ngIf="competence.liensVersCompetences.length">
      <mat-card-title>Compétences liées</mat-card-title>
      <mat-card-content>
        <div class="liens">
          <a
            *ngFor="let id of competence.liensVersCompetences"
            [routerLink]="['/competence', id]"
            class="btn-liens"
          >
            Voir {{ getTitreCompetence(id) }}
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  