<h2 class="text-3xl font-bold mb-6">Mon parcours</h2>

<div class="timeline-container" *ngIf="isBrowser" [@fadeInStagger]>
  <div class="timeline-item" *ngFor="let item of parcours" (click)="openDetails(item)">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
      <div class="timeline-header">
        <img [src]="item.logo" alt="{{item.structure}}" class="logo" />
        <div>
          <span class="timeline-date">{{ item.date }}</span>
          <h3 class="title">{{ item.titre }}</h3>
          <span class="structure">{{ item.structure }}</span><br />
        </div>
      </div>
    </div>
  </div>
</div>
