<mat-toolbar color="primary">
    <a routerLink="/" style="flex: 1; color: white; text-decoration: none;">
        <span>Portfolio de Virgil Courvalet</span>
    </a>
  
    <button mat-button routerLink="/parcours">Mon Parcours</button>
  
    <button mat-button [matMenuTriggerFor]="menuCompetence">Compétences</button>
    <mat-menu #menuCompetence="matMenu">
        <button mat-menu-item routerLink="/competences">Mes compétences</button>
        <div style="padding: 8px 16px; font-size: 0.9rem; color: #ffffff;">
            Compétences techniques
        </div>
        <button mat-menu-item [routerLink]="['/competence', 'angular']">Angular</button>
        <button mat-menu-item [routerLink]="['/competence', 'benchmarking']">Benchmarking</button>
        <button mat-menu-item [routerLink]="['/competence', 'javascript']">Javascript</button>
        <button mat-menu-item [routerLink]="['/competence', 'nodejs']">NodeJS</button>
        <button mat-menu-item [routerLink]="['/competence', 'python']">Python</button>
        <button mat-menu-item [routerLink]="['/competence', 'sql']">SQL</button>
        <mat-divider></mat-divider>
        <div style="padding: 8px 16px; font-size: 0.9rem; color: white;">
            Compétences humaines
        </div>
        <button mat-menu-item [routerLink]="['/competence', 'adaptation']">Adaptation besoin client</button>
        <button mat-menu-item [routerLink]="['/competence', 'agile']">Agile</button>
        <button mat-menu-item [routerLink]="['/competence', 'communication']">Communication</button>
        <button mat-menu-item [routerLink]="['/competence', 'gestion']">Gestion de projet</button>
    </mat-menu>
  
    <button mat-button [matMenuTriggerFor]="menu3">Réalisations</button>
    <mat-menu #menu3="matMenu">
        <button mat-menu-item routerLink="/realisations">Mes réalisations</button>
      <button mat-menu-item [routerLink]="['/realisation', 'archweb']">ArchWeb</button>
      <button mat-menu-item [routerLink]="['/realisation', 'ads']">CDS ADS</button>
      <button mat-menu-item [routerLink]="['/realisation', 'amt']">CDS AMT</button>
      <button mat-menu-item [routerLink]="['/realisation', 'plant']">PLANT</button>
      <button mat-menu-item [routerLink]="['/realisation', 'qapi']">Qapi</button>
    </mat-menu>
</mat-toolbar>