<footer style="text-align: center; padding: 16px; background: #f1f1f1">
    <div style="margin-bottom: 8px; font-weight: bold;">
        Portfolio de Virgil Courvalet
    </div>
    <div>
        <a href="mailto:virgil.courvalet@gmail.com" style="margin: 0 8px;">virgil.courvalet&#64;gmail.com</a>
        <a href="https://linkedin.com/in/virgil-courvalet-374265253" target="_blank" style="margin: 0 8px;">LinkedIn</a>
        <a href="https://github.com/GirvilC" target="_blank" style="margin: 0 8px;">GitHub</a>
      </div>
</footer>