<div class="home-container">
    <div class="left-side">
      <img src="assets/Virgil.jfif" alt="Ma photo" class="photo">
    </div>
    <div class="right-side">
      <h2>Bienvenue sur mon Portfolio</h2>
      <p>Toujours optimiste dans mon travail, je recherche constamment les meilleures méthodes pour améliorer mon efficacité et parvenir à mes fins. Possédant une grande ambition, j’aime intégrer des projets de plus en plus complexes afin de mieux comprendre mon métier et les différents problèmes que je rencontre. Enfin je suis très attentif aux divers conseils que les personnes plus expérimentées peuvent me prodiguer dans le but de bonifier la qualité de mon travail.</p>

      <p>Ce qui m’attire le plus dans l’informatique, c’est le fait de pouvoir m’amuser avec les différentes fonctions et méthodes pour en sortir des systèmes complexes et de pouvoir créer des sites ou des logiciels divers et variés qui seront utiles pour ses utilisateurs. J’aime aussi être mis au défi sur des situations demandant un esprit logique et une réflexion mathématique que j’essaie constamment de parfaire.</p>
      
      <div class="button-group">
        <button mat-raised-button color="primary" routerLink="/presentation">
          <mat-icon>info</mat-icon> Voir la présentation détaillée
        </button>
  
        <button mat-stroked-button color="accent" routerLink="/competences">
          <mat-icon>skills</mat-icon> Voir mes compétences
        </button>
  
        <button mat-stroked-button color="primary" routerLink="/realisations">
          <mat-icon>folder</mat-icon> Voir mes réalisations
        </button>
      </div>
    </div>
  </div>
