<div class="home-container">
    <div class="left-side">
      <img src="assets/photo.jpg" alt="Ma photo" class="photo">
    </div>
    <div class="right-side">
      <h2>Bienvenue sur mon Portfolio</h2>
      <p>Je suis un développeur passionné avec une expertise dans le développement web et mobile.</p>
      
      <div class="button-group">
        <button mat-raised-button color="primary" routerLink="/presentation">
          <mat-icon>info</mat-icon> Voir la présentation détaillée
        </button>
  
        <button mat-stroked-button color="accent" routerLink="/competences">
          <mat-icon>skills</mat-icon> Voir mes compétences
        </button>
  
        <button mat-stroked-button color="warn" routerLink="/realisations">
          <mat-icon>folder</mat-icon> Voir mes réalisations
        </button>
      </div>
    </div>
  </div>
